<!-- Cards-->

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-danger">
              <i class="nc-icon nc-ambulance text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Temperature warning</p>
              <p class="card-title"> <div *ngIf="!formGroup.controls.temperatureAlert.value"> OK </div> <div *ngIf="formGroup.controls.temperatureAlert.value"> ALERT </div>
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Refresh
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <span> <img src="http://openweathermap.org/img/wn/01d.png"> </span>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Weather outside</p>
              <p class="card-title">{{formGroup.controls.weatherDescription.value | titlecase}}</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Refresh
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-sun-fog-29 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"> Temperature outside</p>
              <p class="card-title"> <b>{{formGroup.controls.weatherTemperature.value}}</b> °C</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Refresh
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-umbrella-13 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Humidity outside</p>
              <p class="card-title"> <b>{{formGroup.controls.weatherHumidity.value}}</b> %</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Refresh
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"> Temperature inside</p>
              <p class="card-title"> <b>{{formGroup.controls.insideTemperature.value}}</b> °C</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Refresh
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-umbrella-13"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Humidity inside</p>
              <p class="card-title"> <b>{{formGroup.controls.insideHumidity.value}}</b> %</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Refresh
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-touch-id text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Area Chart-->
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Deskmart</h5>
      </div>
      <div class="card-body ">
        <p class="card-category">Table use</p>
        <table style="width: 100%; height:100%;">
          <tr height=100>
            <td style="background-color:#ff0000;" id="capacitor11"> </td>
            <td style="background-color:#ff0000;" id="capacitor12"> </td>
          </tr>
          <tr height=100>
            <td style="background-color:#ff0000;" id="capacitor21"> </td>
            <td style="background-color:#ff0000;" id="capacitor22"> </td>
          </tr>
        </table>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>

<!--
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <form>
        <mat-form-field style="width:100%;">
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let stock of stocks"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(stock)">
              {{stock}}
              <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
            </mat-chip>
            <input
              placeholder="New stock..."
              #stocksInput
              [formControl]="stockCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock">
              {{ stock }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
-->

<!-- Graphs -->
<div class="row">
  <!-- Area Chart-->
  <!--
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">NASDAQ</h5>
        <p class="card-category">Area chart of last month</p>
      </div>
      <br>
      <div class="card-body ">
        <canvas id="areaChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <div class="chart-legend" *ngFor="let item of leyenda">
          <i class="fa fa-circle" style="color:{{item.color}}"></i> {{item.name}}
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
  -->
</div>


<div class="row">

  <!-- Pie Chart-->
<!--
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Email Statistics</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body ">
        <canvas id="pieChart"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>
-->

  <!-- Lineal chart -->
<!--
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ</h5>
        <p class="card-category">Line Chart of last month</p>
      </div>
      <div class="card-body">
        <canvas id="linealChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend" *ngFor="let item of leyenda">
          <i class="fa fa-circle" style="color:{{item.color}}"></i> {{item.name}}
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
-->


</div>
